# Object files & Binaries
*.o
*.ko
*.mod*
*.order
*.symvers
*.cmd
.tmp_versions/

# Application executables & Debug logs
**/smartclock
**/smartclock_debug
smartclock
smartclock_debug
*.log
!**/docs/debug_logs/*.log
*.logog

# Temporary files
deploy_v1/
deploy_v2/
releases/
*.tmp
*~
.DS_Store

# AI Agent rules & configurations (Local IDE only)
.agent
.agents

# Decompressed disk images (>100MB)
*.wic
*.img
